.B4-center{
    display: flex;
justify-content: center;
align-items: center;
}
.ButtontoHome{
  background: linear-gradient(45deg, #ff6b6b, #f7a500);
  border-radius: 25px; 
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* צל מתחת לכפתור */
  transition: transform 0.2s , box-shadow 0.2s ; 
}
.ButtonD{
    background: linear-gradient(45deg, #ff6b6b, #f7a500);
    border-radius: 25px; 
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* צל מתחת לכפתור */
    transition: transform 0.2s , box-shadow 0.2s ; 
}
.ButtontoHome:hover{
    transform: scale(1.1); /* הגדלת הכפתור בהצבעה */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* הגברת הצל */
}